[submodule "src/archive"]
	path = src/archive
	url = https://github.com/LePresidente/modorganizer-archive
	branch = API_9.20
[submodule "src/diagnostic_basic"]
	path = src/diagnostic_basic
	url = https://github.com/LePresidente/modorganizer-diagnose_basic
	branch = master
[submodule "src/usvfs"]
	path = src/usvfs
	url = https://github.com/lepresidente/usvfs
	branch = 0.3.1.0-Beta
